p
    {
        border : 2px black solid
    }
#p1
    {
        width: 400px;
        font-family: arial black, "Georgia", "Courier New", "sans-serif";
    }
#p2
    {
       width: 400px;
       font-family: "butcherman"; 
    }