body{
    background-image: linear-gradient(to right, rgb(243, 78, 78), #f32424, #ad0c0c) ;
    color: aliceblue ;
    text-align: center ;
    margin-top: 20px ;
    font-family:courier,arial,helvetica;
    

}
img{
    max-width: 370px;
    max-height: 370px;
    border-radius: 50% ;
    border-color: #5c0303 ;
    border-style: inset ;
}
a{
    text-decoration: none ;
    font-size: 20px;
    color: #ffffff ;
}
section{
    background-color: #5e0303;
    border-radius: 50px;
    max-width: 300px;
    margin: auto;
    padding: 15px;
    margin-top: 5px;
}